<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> To Do </title>
</head>
<body>
    <div>
        <h1>To Do List</h1>
        <form action="/add" method="post">
            <div>
                <label> Enter the task </label>
                <input type="text" name="name">
                <button type="sumbit"> Add Task </button>
            </div>
        </form> <br>
        <table>
            <tbody>
                {% for todo in Task_list %}
                <tr>
                    <td> {{todo.id}} </td>
                    <td> {{todo.name}} </td>
                    <td> {{todo.date}} </td>
                    {% if todo.status == False %}
                    <td> Yet to Begin </td>
                    {% else %}
                    <td> Completed </td>
                    {% endif %}
                    <td> <a href="/update/{{todo.id}}"> Update </a> </td>
                    <td> <a href="/delete/{{todo.id}}"> Delete </a> </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>