{% extends 'base.html' %}
{% block content %}

<div style="text-align: center;">
<h2>Add Income/Expense</h2>
<br>
<form method="POST">
    {{ form.hidden_tag() }}
    <div class="mb-3">
        {{ form.date.label }}
        {{ form.date(size=20) }}
        {% for error in form.date.errors %}
        <div class="text-danger">{{error}}</div>
        {% endfor %}
    </div>
    <br>
    <div class="mb-3">
        {{ form.from_bank.label(class="form-label") }}
        <!-- {{ form.from_bank(class="form-control") }} -->
        {% for subfield in form.from_bank %}
        <div>
            {{ subfield(class="form-check-input") }}
            {{ subfield.label(class="form-check-label") }}
        </div>
        {% endfor %}
        {% for error in form.from_bank.errors %}
        <div class="text-danger">{{error}}</div>
        {% endfor %}
    </div>
    <br>
    <div class="mb-3">
        {{ form.to_bank.label(class="form-label") }}
        <!-- {{ form.to_bank(class="form-control") }} -->
        {% for subfield in form.to_bank %}
        <div>
            {{ subfield(class="form-check-input") }}
            {{ subfield.label(class="form-check-label") }}
        </div>
        {% endfor %}
        {% for error in form.to_bank.errors %}
        <div class="text-danger">{{error}}</div>
        {% endfor %}
    </div>
    <br>
    <div class="mb-3"> 
        {{ form.category.label }}
        {{ form.category(id="category") }}
        {% for error in form.category.errors %}
        <div class="text-danger">{{error}}</div>
        {% endfor %}
    </div>
    <br>
    <div class="mb-3">
        {{ form.sub_category.label }}
        {{ form.sub_category(size=40) }}
        {% for error in form.sub_category.errors %}
        <div class="text-danger">{{error}}</div>
        {% endfor %}
    </div>
    <br>
    <div class="mb-3">
        {{ form.description.label }}
        {{ form.description(size=40) }}
        {% for error in form.description.errors %}
        <div class="text-danger">{{error}}</div>
        {% endfor %}
    </div>
    <br>
    <div class="mb-3">
        {{ form.amount.label }}
        {{ form.amount(size=10) }}
        {% for error in form.amount.errors %}
        <div class="text-danger">{{error}}</div>
        {% endfor %}
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Add</button>
</form>
</div>
{% endblock %}