{% extends 'base.html' %}
{% block content %}

<!-- <h2 class="mt-4">Total Bank Balance</h2>
<p><strong>{{ total_bank_balance | round(2) }}</strong></p> -->

<h1 class="mb-4 text-primary">Bank Balances</h1>
{% if bank_balances %}
<table class="table table-success table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th scope="col">Bank</th>
            <th scope="col">Remaining Balance</th>
        </tr>
    </thead>
    <tbody>
        {% for bank, balance in bank_balances.items() %}
        <tr>
            <td>{{ bank if bank else 'None' }}</td>
            <td>{{ balance | round(2) }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>No bank balances available.</p>
{% endif %}

<h2 class="mt-4">Category Summary</h2>
{% if category_summary %}
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th scope="col">Category</th>
            <th scope="col">Total Amount</th>
        </tr>
    </thead>
    <tbody>
        {% for category, total_amount in category_summary %}
        <tr>
            <td>{{ category }}</td>
            <td>{{ total_amount | round(2) }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>No category data available.</p>
{% endif %}

<h2 class="mt-4">Sub-Category Summary</h2>
{% if sub_category_summary %}
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th scope="col">Category</th>
            <th scope="col">Sub-Category</th>
            <th scope="col">Total Amount</th>
        </tr>
    </thead>
    <tbody>
        {% for category, sub_category, total_amount in sub_category_summary %}
        <tr>
            <td>{{ category }}</td>
            <td>{{ sub_category }}</td>
            <td>{{ total_amount | round(2) }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>No sub-category data available.</p>
{% endif %}

{% endblock %}