{% extends 'base.html' %}
{% block content %}

<h2 class="mb-4 text-success text-center">Road to Crore</h2> 
<p class="mb-4 text-success text-center fs-2"><strong>{{ total_bank_balance | round(2) }}</strong></p>

<h1 class="mb-4 text-primary">Liquid + Saving + Investment</h1>
{% if bank_balances %}
<table class="table table-success table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th scope="col">Bank</th>
            <th scope="col">Remaining Balance</th>
        </tr>
    </thead>
    <tbody>
        {% for bank, balance in bank_balances.items() %}
        <tr>
            <td>{{ bank if bank else 'None' }}</td>
            <td>{{ balance | round(2) }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>No bank balances available.</p>
{% endif %}

<h2 class="mb-4 text-success text-center">Bank Balance</h2> 
<p class="mb-4 text-success text-center fs-2"><strong>{{ select_total_bank_balance | round(2) }}</strong></p>

<form method="GET" action="{{ url_for('category_summary') }}" class="mb-3">
    <label for="start_date">Start Date:</label>
    <input type="date" name="start_date" id="start_date" value="{{ start_date }}" class="">
    
    <label for="end_date">End Date:</label>
    <input type="date" name="end_date" id="end_date" value="{{ end_date }}" class="">

    <button type="submit" class="btn btn-primary mt-2">Filter</button>
</form>

<h2 class="mt-4">Category Summary</h2>
{% if category_summary %}
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th scope="col">Category</th>
            <th scope="col">Total Amount</th>
        </tr>
    </thead>
    <tbody>
        {% for category, total_amount in category_summary %}
        <tr>
            <td>{{ category }}</td>
            <td>{{ total_amount | round(2) }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>No category data available.</p>
{% endif %}

<h2 class="mt-4">Expense Sub-Category Summary</h2>
<p><strong>Selected Date Range:</strong> {{ start_date }} to {{ end_date }}</p>
{% if exp_sub_category_summary %}
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th scope="col">Category</th>
            <th scope="col">Sub-Category</th>
            <th scope="col">Total Amount</th>
        </tr>
    </thead>
    <tbody>
        {% for category, sub_category, total_amount in exp_sub_category_summary %}
        <tr>
            <td>{{ category }}</td>
            <td>{{ sub_category }}</td>
            <td>{{ total_amount | round(2) }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>No expense sub-category data available for selected date range.</p>
{% endif %}

<h2 class="mt-4">Income Sub-Category Summary</h2>
<p><strong>Selected Date Range:</strong> {{ start_date }} to {{ end_date }}</p>
{% if inc_sub_category_summary %}
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th scope="col">Category</th>
            <th scope="col">Sub-Category</th>
            <th scope="col">Total Amount</th>
        </tr>
    </thead>
    <tbody>
        {% for category, sub_category, total_amount in inc_sub_category_summary %}
        <tr>
            <td>{{ category }}</td>
            <td>{{ sub_category }}</td>
            <td>{{ total_amount | round(2) }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>No income sub-category data available for selected date range.</p>
{% endif %}

{% endblock %}