{% extends 'base.html' %}
{% block content %}

{% if current_user.is_authenticated %}
<div style="text-align: center;">
<h2>Edit Income/Expense</h2>
<br>
<form method="POST">
    {{ form.hidden_tag() }}
    <div class="mb-3">
        {{ form.date.label }}
        {{ form.date(size=20, value=form.date.data) }}
        {% for error in form.date.errors %}
        <span class="text-danger">{{error}}</span>
        {% endfor %}
    </div>
    <br>
    <div class="mb-3">
        {{ form.from_bank.label(class="form-label") }}
        <!-- {{ form.from_bank(value=form.from_bank.data) }} -->
        {% for subfield in form.from_bank %}
        <div>
            {{ subfield (class="form-check-input", value=subfield.data)}}
            {{ subfield.label(class="form-check-label") }}
        </div>
        {% endfor %}
        {% for error in form.from_bank.errors %}
            <span class="text-danger">{{error}}</span>
        {% endfor %}
    </div>
    <br>
    <div class="mb-3">
        {{ form.to_bank.label(class="form-label") }}
        <!-- {{ form.to_bank(value=form.to_bank.data) }} -->
        {% for subfield in form.to_bank %}
        <div>
            {{ subfield (class="form-check-input", value=subfield.data)}}
            {{ subfield.label(class="form-check-label") }}
        </div>
        {% endfor %}
        {% for error in form.to_bank.errors %}
            <span class="text-danger">{{error}}</span>
        {% endfor %}
    </div>
    <br>
    <div class="mb-3"> 
        {{ form.category.label }}
        {{ form.category(id="category", value=form.category.data) }}
        {% for error in form.category.errors %}
        <span class="text-danger">{{error}}</span>
        {% endfor %}
    </div>
    <br>
    <div class="mb-3">
        {{ form.sub_category.label }}
        {{ form.sub_category(size=40, value=form.sub_category.data) }}
        {% for error in form.sub_category.errors %}
        <span class="text-danger">{{error}}</span>
        {% endfor %}
    </div>
    <br>
    <div class="mb-3">
        {{ form.description.label }}
        {{ form.description(size=40, value=form.description.data) }}
        {% for error in form.description.errors %}
        <span class="text-danger">{{error}}</span>
        {% endfor %}
    </div>
    <br>
    <div class="mb-3">
        {{ form.amount.label }}
        {{ form.amount(size=10, value=form.amount.data) }}
        {% for error in form.amount.errors %}
        <span class="text-danger">{{error}}</span>
        {% endfor %}
    </div>
    <br>
    <button type="submit" class="btn btn-secondary">Update</button>
</form>
</div>
{% else %}
<p class="text-danger">You must be logged in to add an expense.</p>
<a href="{{ url_for('login') }}" class="btn btn-primary">Login</a>
{% endif %}
{% endblock %}