{% extends "base.html" %}
{% block content %}
    <h2>Register</h2>
    <form method="POST">
        {{ form.hidden_tag() }}
        <label>Username</label>
        {{ form.username(class="form-control") }}
        
        <label>Email</label>
        {{ form.email(class="form-control") }}
        
        <label>Password</label>
        {{ form.password(class="form-control") }}
        
        <label>Confirm Password</label>
        {{ form.confirm_password(class="form-control") }}
        
        <button type="submit" class="btn btn-primary">Register</button>
    </form>
{% endblock %}
