{% extends 'base.html' %}
{% block content %}
<h2> Expense Table </h2>
<table class="table">
    <thead>
        <tr>
            <th>Sl No</th>
            <th>Date</th>
            <th>from_Bank</th>
            <th>to_Bank</th>
            <th>Category</th>
            <th>Sub Category</th>
            <th>Description</th>
            <th>Amount</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for expense in expenses %}
        <tr>
            <td>{{expense.id}}</td>
            <td>{{expense.date}}</td>
            <td>{{expense.from_bank}}</td>
            <td>{{expense.to_bank}}</td>
            <td>{{expense.category}}</td>
            <td>{{expense.sub_category}}</td>
            <td>{{expense.description}}</td>
            <td>{{expense.amount}}</td>
            <td> 
                <a href="{{ url_for('delete_expense', id=expense.id) }}" onclick="return confirm('Are you sure you want to delete?');">Delete</a>
                <a href="{{ url_for('edit_expense', id=expense.id) }}">Edit</a>
        </td>
            <!-- <td> <a href="">Edit</a> </td> -->
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}