body{
    background: #d3d3d3;
    font-family: 'Aldrich', sans-serif;
}

h1{
    /* font-family: 'Aldrich', sans-serif; */
    text-align: center;
    border: black 1px solid;
}

/* .headline{
    text-align: center;
    border: black 4px solid;
} */

h2{
    /* font-family: 'Aldrich', sans-serif; */
    color: purple;
}

span{
    /* font-family: 'Aldrich', sans-serif; */
    color: red;
    text-decoration: underline;
}

input{
    /* font-family: 'Aldrich', sans-serif; */
    border: darkblue 5px solid;
}

#textblock{
    border: grey 5px solid;
    width: 800px;
    height: 400px;
}

/* p{
    font-family: 'Aldrich', sans-serif;
}

li{
    font-family: 'Aldrich', sans-serif;
}

label{
    font-family: 'Aldrich', sans-serif;
} */